.App {
  display: flex;
}

.App__left {
  margin-top: 64px; /* based on header height */
  min-width: 300px;
  width: 50%;
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

.App__right {
  margin-top: 64px; /* based on header height */
  min-width: 300px;
  flex: 1 0 auto;
}

.List__empty-avatar {
  display: 'flex';
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.List__load-more {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Map__container {
  height: calc(100vh - 64px);
}
