.App {
  display: flex;
}

.App__left {
  margin-top: 64px; /* based on header height */
  min-width: 300px;
  width: 50%;
}

.List__empty-avatar {
  display: 'flex';
  width: 40px;
  min-width: 40px;
  height: 40px;
}
